/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store
/apis/branch
/apis/group
/apis/project
/apis/groupingroupmembership
/apis/groupinprojectmembership
/apis/user
/apis/useringroupmembership
/apis/userinprojectmembership
/config/branch
/config/group
/config/project
/config/groupingroupmembership
/config/groupinprojectmembership
/config/user
/config/useringroupmembership
/config/userinprojectmembership
internal/controller/branch
internal/controller/group
internal/controller/project
internal/controller/groupingroupmembership
internal/controller/groupinprojectmembership
internal/controller/user
internal/controller/useringroupmembership
internal/controller/userinprojectmembership
package/crds/branch.gitlab.jet.crossplane.io_branches.yaml
package/crds/group.gitlab.jet.crossplane.io_groups.yaml
package/crds/groupingroupmembership.gitlab.jet.crossplane.io_sharegroups.yaml
package/crds/groupinprojectmembership.gitlab.jet.crossplane.io_sharegroups.yaml
package/crds/project.gitlab.jet.crossplane.io_projects.yaml
package/crds/user.gitlab.jet.crossplane.io_users.yaml
package/crds/useringroupmembership.gitlab.jet.crossplane.io_memberships.yaml
package/crds/userinprojectmembership.gitlab.jet.crossplane.io_memberships.yaml
# ignore IDE folders
.vscode/
.idea/
